*{
    margin: 0;
    padding: 0;
    /*border: red dashed 1px;*/
}
html, body {
    background-color: #f4f4f4;
    font-family: Calibri, monospace;
}

#name{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#title{
    color: #9090e3;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#button, #downloadeng,#downloadsk{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#button:hover, #downloadbutton:hover{
    transform: scale(1.1);
}
#buttoncontainer{
    position: absolute;
    top:2%;
    right: 2%;
}

.bigtitle{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.stitle{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textt{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#mf1{
    border: none;
    justify-content: center;
}

.name{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttoncontainer2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    line-height: 50px;
    background-color: #000000;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.container{
    margin-top: 3%;
}
.row1{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border: white solid 5px;
    box-shadow: 0 2px 3px 2px #ddd;
    background: white;
}

#infocontainer{
    border: white solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    width: 80%;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding: 20px;
    background: white;
}
li{
    list-style-type: none;
    margin: auto;
    justify-content: center;
}



#tableDiv{
    display: flex;
    width: 80%;
    height: 80%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
td, th{
    padding: 20px;
    text-align: center;
    margin: auto;
    justify-content: center;
}
#asName{
    width: 500px
}