*{
    margin: 0;
    padding: 0;
    /*border: red dashed 1px;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#title{
    color: blue;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#buttoncontainer{
    position: absolute;
    top:2%;
    right: 2%;
}
a{
    text-decoration: none;
    width: 150px;
    height: 200px;
    line-height: 50px;
    background-color: #000000;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;

}

#infocontainer{
    border: #e5e5e5 solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    width: 80%;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding: 20px;
    background: #e5e5e5;
}
li{
    list-style-type: none;
    margin: auto;
    justify-content: center;
}

#tableDiv{
    display: flex;
    width: 80%;
    height: 80%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
td, th{
    padding: 20px;
    text-align: center;
    margin: auto;
    justify-content: center;
}
#asName{
    width: 500px
}